<style type ='text/css'>


     table.search  {
	 		background:#c6e7de;
			color:#000000;
	  		font-family:Arial;
			font-weight:normal;
		  	font-size:10px }
     table.shipping  {
	 		background:#deddbe;
			color:#000000;
	  		font-family:Arial;
			font-weight:normal;
		  	font-size:11px }
     table.totals  {
	 		background:#c6e7de;
			color:#000000;
	  		font-family:Arial;
			font-weight:bold;
		  	font-size:11px }
    td.subtotal  {
	 		background:#c6e7de;
			color:#000000;
	  		font-family:Arial;
			font-weight:bold;
		  	font-size:11px }

     table.smalltext  {
			color:#000000;
	  		font-family:Arial;
			font-weight:normal;
		  	font-size:12px;
			text-align:left;}
     p.tiny {
	 		background:#ffffff;
			color:#000000;
	  		font-family:Arial;
			font-weight:bold;
		  	font-size:9px; }

     P.text9px, table.text9px, th.text9px, td.text9px{
	 		background:#ffffff;
			color:#000000;
	  		font-family:arial;
			font-weight:normal;
		  	font-size:11px;
			text-transform:none;}

     th.text9px_grey {
	 		background:#e0e0e0;
			color:#000000;
	  		font-family:arial;
			font-weight:normal;
		  	font-size:12px;
			text-transform:none;}


     P.headadmin, td.headadmin, select.headadmin, input.headadmin{
	 		color:#000000;
	  		font-family:Arial;
			font-weight:bold;
		  	font-size:10px;
			text-transform:Capitalize;}

     table.stat, td.stat, select.stat, input.stat{
	 		color:'#000000';
	  		font-family:Arial;
			font-weight:bold;
		  	font-size:8px;
			}

     td.groupname  {
			background:#808080;
	  		color:#000000;
	  		font-family:Georgia;
			font-weight:bold;
		  	font-size:14px;
	      	text-align:left;
			text-transform:uppercase; }
      td.message,  table.message {
			  background:#ffffff;
	  		color:#000000;
	  		font-family:Arial;
			  font-weight:normal;
		  	font-size:12px;
	      text-align:center }

      td.login,  table.login {
			background:#ffffff;
	  		color:#000000;
	  		font-family:Arial;
			font-weight:normal;
		  	font-size:11px;
	      	 }
      input.login  {
			background:#ffffff;
	  		color:#000000;
	  		font-family:Arial;
			font-weight:bold;
		  	font-size:11px;
	      	text-align:center;
			text-transform:capitalize; }

       td.profile,  table.profile {
			background:#ffffff;
	  		color:#000000;
	  		font-family:Arial;
			font-weight:normal;
		  	font-size:11px;
	      	text-align:left;
      text-transform:none; }
      input.profile  {
			background:#ffffff;
	  		color:#000000;
	  		font-family:Arial;
			font-weight:bold;
		  	font-size:11px;
	      	text-align:left }
     input.profilebutton  {
			background:#e0e0e0;
	  		color:#000000;
	  		font-family:Arial;
			font-weight:bold;
		  	font-size:11px;
	      	text-align:center;
			text-transform:capitalize; }

      div.book_alert  {
			background:ffffff;
	  		color:ff0000;
	  		font-family:Times;
			font-weight:bold;
		  	font-size:10px;
	      	text-align:left;
			text-transform:uppercase; }


      div.product_alert  {
			background:ffffff;
	  		color:ff0000;
	  		font-family:Times;
			font-weight:bold;
		  	font-size:12px;
	      	text-align:left;
			text-transform:uppercase; }

      div.product  {
			background:#ffffff;
	  		color:#000000;
	  		font-family:Georgia;
			font-weight:bold;
		  	font-size:14px;
	      	text-align:left;
			text-transform:uppercase; }

      div.product_subheader  {
			background:#ffffff;
	  		color:#000000;
	  		font-family:Georgia;
			font-weight:bold;
		  	font-size:13px;
	      	text-align:left;
			 }

      p.product  {
			background:#ffffff;
	  		color:#000000;
	  		font-family:Georgia;
			font-weight:bold;
		  	font-size:14px;
	      	text-align:left;
			text-transform:uppercase; }
      P.intro, ol.intro, {
			background:#ffffff;
	  		color:#000000;
	  		font-family:arial;
			font-weight:normal;
		  	font-size:12px;
	      	text-align:left;
			}


			td.addcodes,input.addcodes {
			background:#e7c49c;
	  		color:#000000;
	  		font-family:arial;
			font-weight:normal;
		  	font-size:12px;
	      	text-align:left;
			}
      p.pulp  {
			background:#ffffc6;
	  		color:#000000;
	  		font-family:arial;
			font-weight:normal;
		  	font-size:10px;
	      	text-align:left;
			}
      td.pulp  {
			background:#ffffc6;
	  		color:#000000;
	  		font-family:arial;
			font-weight:normal;
		  	font-size:10px;
	      	text-align:left;
			}
      p.fiber  {
			background:#ffffc6;
	  		color:#000000;
	  		font-family:arial;
			font-weight:normal;
		  	font-size:10px;
	      	text-align:left;
			}
      table.comment  {
			background:#ffe7c6;
	  		color:#000000;
	  		font-family:arial;
			font-weight:normal;
		  	font-size:12px;
	      	text-align:left;
			}

      table.fiber, td.fiber {
			background:#ffffc6;
	  		color:#000000;
	  		font-family:arial;
			font-weight:normal;
		  	font-size:11px;
	      	text-align:left;
			}
      td.fiberorder  {
			background:#ffffc6;
	  		color:#000000;
	  		font-family:arial;
			font-weight:bold;
		  	font-size:11px;
	      	text-align:center;
			}
      td.shipaddr,input.shipaddr  {
			background:#ffffff;
	  		color:#000000;
	  		font-family:arial;
			font-weight:normal;
		  	font-size:11px;
	      	text-align:left;
			}
      table.shipaddr  {
			background:#ffffc6;
	  		color:#000000;
	  		font-family:arial;
			font-weight:normal;
		  	font-size:11px;
	      	text-align:left;
      }
      table.ordermemory,td.ordermemory {
			background:#ffffff;
	  		color:#000000;
	  		vertical-align:top;
	  		font-family:arial;
			font-weight:normal;
		  	font-size:11px;
	      	text-align:left;
			}
      th.ordermemory {
			background:#ffffc6;
	  		color:#000000;
	  		font-family:arial;
			font-weight:normal;
		  	font-size:11px;
	      	text-align:left;
}
      td.lineitem  {
			background:#ffffff;
	  		color:#000000;
	  		font-family:arial;
			font-weight:normal;
		  	font-size:11px;
	      	text-align:left;
			}
      table.footer {
	  		color:#ffffff;
	  		font-family:arial;
			font-weight:normal;
		  	font-size:10px;
	      	text-align:left;
			}

	  table.cart  {
			background:#ffffff;
	  		color:#000000;
	  		font-family:arial;
			font-weight:normal;
		  	font-size:11px;
	      	text-align:left;
			}
	  td.cartwarning  {
			background:#ffffff;
	  		color:#ff0000;
	  		font-family:arial;
			font-weight:normal;
		  	font-size:11px;
	      	text-align:left;
			}

      table.header  {
			background:#8a8987;
	  		color:#ffffff;
	  		font-family:verdana;
			font-weight:bold;
		  	font-size:18px;
	      	text-align:left;
			text-transform:uppercase; }

	  A.header:link    { color: white; background: #8a8987 ; font-family:serif; font-size:18px; text-transform:uppercase; text-decoration:underline}    /* unvisited links */
	  A.header:visited { color: white; background: #8a8987 ; font-family:serif; font-size:18px; text-transform:uppercase; text-decoration:underline}   /* visited links   */
	  A.header:hover   { color: #8a8987; background: white ; font-family:serif; font-size:18px; text-transform:uppercase; text-decoration:none} /* user hovers     */
	  A.header:active  { color: blue; background: #8a8987 ; font-family:serif; font-size:18px; text-transform:uppercase; text-decoration:underline}   /* active links    */


	  A.topmenu1:link    { color: #000000; background: yellow ; font-size:9px; text-transform:Capitalize; text-decoration:none}    /* unvisited links */
	  A.topmenu1:visited { color: #000000; background: yellow ; font-size:9px; text-transform:Capitalize; text-decoration:none}   /* visited links   */
	  A.topmenu1:hover   { color: blue; background: white; font-size:9px; text-transform:Capitalize;} /* user hovers     */
	  A.topmenu1:active  { color: #000000; background: white ; font-size:9px; text-transform:Capitalize;}   /* active links    */

    A.cartmenu:link    { color: blue; background: white;font-family:sans-serif; font-size:11px; text-transform:Capitalize; text-decoration:none}    /* unvisited links */
	  A.cartmenu:visited { color: blue; background: white;font-family:sans-serif; font-size:11px; text-transform:Capitalize; text-decoration:none}   /* visited links   */
	  A.cartmenu:hover   { color: white; background: blue;font-family:sans-serif; font-size:11px; text-transform:Capitalize; text-decoration:one} /* user hovers     */
	  A.cartmenu:active  { color: blue; background: white;font-family:sans-serif; font-size:11px; text-transform:Capitalize; text-decoration:none}   /* active links    */

	  A.cartmenugrey:link    { color: blue; background: #8a8987;font-family:sans-serif; font-size:11px; text-transform:Capitalize; text-decoration:none}    /* unvisited links */
	  A.cartmenugrey:visited { color: blue; background: #8a8987;font-family:sans-serif; font-size:11px; text-transform:Capitalize; text-decoration:none}   /* visited links   */
	  A.cartmenugrey:hover   { color: white; background: blue;font-family:sans-serif; font-size:11px; text-transform:Capitalize; text-decoration:none} /* user hovers     */
	  A.cartmenugrey:active  { color: blue; background: #8a8987;font-family:sans-serif; font-size:11px; text-transform:Capitalize; text-decoration:none}   /* active links    */

    A.specials:link    { color: white; background: red;font-family:sans-serif; font-size:13px; text-transform:Capitalize; text-decoration:none}    /* unvisited links */
	  A.specials:visited { color: white; background: red;font-family:sans-serif; font-size:13px; text-transform:Capitalize; text-decoration:none}   /* visited links   */
	  A.specials:hover   { color: yellow; background: black;font-family:sans-serif; font-size:13px; text-transform:Capitalize; text-decoration:one} /* user hovers     */
	  A.specials:active  { color: blue; background: white;font-family:sans-serif; font-size:13px; text-transform:Capitalize; text-decoration:none}   /* active links    */

      td.topmenu2  {
			background:#000000;
	  		color:#ffffff;
	  		font-family:arial;
			font-weight:bold;
		  	font-size:11px;
	      	text-align:center;
			text-transform:Capitalize;}


	  A.topmenu2:link    { color: white;background: black ;text-decoration=none}    /* unvisited links */
	  A.topmenu2:visited { color: white;background: black ;text-decoration=none}   /* visited links   */
	  A.topmenu2:hover   { color: black;background: white } /* user hovers     */
	  A.topmenu2:active  { color: red;background: white }   /* active links    */

	        td.topmenu2_on  {
			background:#ffffff;
	  		color:#000000;
	  		font-family:arial;
			font-weight:bold;
		  	font-size:12px;
	      	text-align:center;
			text-transform:Capitalize;}


	  A.topmenu2_on:link    { color: blue;background: white ;text-decoration=none}    /* unvisited links */
	  A.topmenu2_on:visited { color: blue;background: white ;text-decoration=none}   /* visited links   */
	  A.topmenu2_on:hover   { color: blue;background: white } /* user hovers     */
	  A.topmenu2_on:active  { color: blue;background: white }   /* active links    */

	  td.fibermenu  {
			background:#808080;
	  		color:#ffffff;
	  		font-family:arial;
			font-weight:normal;
		  	font-size:12px;
	      	text-align:center;
			text-transform:Capitalize;}


	  A.fibermenu:link    { color: white;background: #808080 ;text-decoration=none}    /* unvisited links */
	  A.fibermenu:visited { color: white;background: #808080 ;text-decoration=none}   /* visited links   */
	  A.fibermenu:hover   { color: blue;background: white } /* user hovers     */
	  A.fibermenu:active  { color: red;background: white }   /* active links    */

	  A.fiberdes:link    { color: white;background: #808080 ;text-decoration=none}    /* unvisited links */
	  A.fiberdes:visited { color: white;background: #808080 ;text-decoration=none}   /* visited links   */
	  A.fiberdes:hover   { color: blue;background: white } /* user hovers     */
	  A.fiberdes:active  { color: red;background: white }   /* active links    */


	  td.topmenu3  {
			background:#336666;
	  		color:#ffffff;
	  		font-family:arial;
			font-weight:bold;
		  	font-size:11px;
	      	text-align:left;
			text-transform:Capitalize;}

	  A.topmenu3:link    { color: white;background: #336666 ;text-decoration=none}    /* unvisited links */
	  A.topmenu3:visited { color: white;background: #336666 ;text-decoration=none}   /* visited links   */
	  A.topmenu3:hover   { color: #000000;background: white } /* user hovers     */
	  A.topmenu3:active  { color: red;background: white }   /* active links    */

	  td.topmenu3_on  {
			background:#ffffff;
	  		color:#808080;
	  		font-family:arial;
			font-weight:bold;
		  	font-size:11px;
	      	text-align:left;
			text-transform:Capitalize;}

	  A.topmenu3_on:link    { color: blue;background: white ;text-decoration=none}    /* unvisited links */
	  A.topmenu3_on:visited { color: blue;background: white ;text-decoration=none}   /* visited links   */
	  A.topmenu3_on:hover   { color: blue;background: white } /* user hovers     */
	  A.topmenu3_on:active  { color: red;background: white }   /* active links    */

	  table.leftmenu {
	  		background:#ffffff
	  		color:#660000 }
	  td.leftmenu {
	  		background:#ffcc99
	  		color:#000000;
	  		font-family:arial,sans-serif;
			font-weight:bold;
		  	font-size:11px;
	      	text-align:center;
			text-transform:capitalize }
	  A.leftmenu:link { background:#ffcc99;color:#000000; text-decoration:none }
  	  A.leftmenu:visited { background:#ffcc99;color:#000000; text-decoration:none }
	  A.leftmenu:hover   {background:#660000;color:#ffcc99; text-decoration:none}

	  td.leftmenu_on {
	  		background:#660000
	  		color:#ffcc99;
	  		font-family:arial,sans-serif;
			font-weight:normal;
		  	font-size:11px;
	      	text-align:center;
			text-transform:capitalize }

	  A.leftmenu_on:link {background:#660000;color:#ffcc99; text-decoration:none}
  	  A.leftmenu_on:visited {background:#660000;color:#ffcc99; text-decoration:none}
	  A.leftmenu_on:hover   {background:#660000;color:#ffcc99; text-decoration:none}

	  td.groupname{
	  		background:#31b5d6
	  		color:#000000;
	  		font-family:verdana,sans-serif;
			font-weight:bold;
		  	font-size:10px;
	      	text-align:center;
			text-transform:capitalize }
      table.pricetable {white-space:nowrap;
	  	  font-family:arial,sans-serif;
		  font-size:12px;
	      text-align:left;
		  background:#e9e0e0;
		  text-transform:lowercase>capitalize}
	  table.descrip {
	  	  font-family:arial;
		  font-size:12px;
	      text-align:left;
		  color:#000000;
		  background:#ffffff}
	  table.help {
	  	  font-family:arial;
		  font-size:14px;
	      text-align:left;
		  color:#000000;
		  background:#ffffff}

	  tr.info, td.info {white-space:nowrap;
	  	  font-family:arial;
		  font-size:10px;
	      text-align:center;
		  color:#000000;
		  background:#c6eff7}

	  A:visited { color:blue;text-decoration:underline }
	  A:link { text-decoration:underline }
	  A:hover   {background:blue;color:white;text-decoration:underline}

      td.supply {
			  background:#ffffff;
	  		color:#000000;
	  		font-family:Arial,Helvetica;
			  font-weight:normal;
		  	font-size:12px;
	      text-align:left }

    input.payments {
      color:#000000;
   		font-family:verdana;
			font-weight:bold;
		  	font-size:11px;
	      	text-align:left;}
    p.paytext {
        border-width: 1pt 1pt 1pt 1pt ;
        border-color: red red red red;
        border-style: solid solid solid;
        padding:  5pt 5pt 5pt 5pt;
 			  background:#ffffff;
	  		color:#000000;
	  		font-family:Arial,Helvetica;
			  font-weight:normal;
		  	font-size: 11px;
	      text-align:left }
     p.greyboxright {
        border-width: 1pt 1pt 1pt 1pt ;
        border-color: gray gray gray gray;
        border-style: solid solid solid;
        padding:  5pt 5pt 5pt 5pt;
 			  background:#ffffff;
	  		color:#000000;
	  		font-family:Arial,Helvetica;
			  font-weight:normal;
		  	font-size: 10px;
	      text-align:right }
     td.pay_smtxt,select.pay_smtxt {
        background:#ffffff;
	  		color:#000000;
	  		font-family:Arial,Helvetica;
			  font-weight:normal;
		  	font-size: 10px  }

</style>
